<form ng-submit="authUser()">
  <div class="list padding">
    <label class="item item-input">
      <input type="text" placeholder="Email" ng-model="user.email">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="user.password">
    </label>
  </div>
  <div class="padding">
    <button class="button button-block button-assertive">
      Sign in
    </button>
  </div>
  <div class="list padding">
    <a href="#/register" class="btn btn-default assertive">Oh, I forgot!</a>
    <a href="#/register" class="btn btn-default assertive">Sign up</a>
  </div>
</form>
