<ion-view view-title="My neighborhood">
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon button-clear round">
      <img src="main/assets/images/user/125.jpg" width="34px" height="34px" />
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div>
      

      <div style="width: 48.5%; height: auto; border: 1px solid black; float: left; margin-bottom: 10px;">
        <div style="width: 100%; height: 125px; background-color: red;"></div>
        <div class="padding-left padding-right" style="padding-top: 5px; overflow: hidden;">
          <label style="font-size: 9px; float: left;">Lost and found</label>
          <label style="font-size: 9px; float: right;">130 views</label>
        </div>
        <div class="padding-left padding-right" style="padding-top: 8px; overflow: hidden;">
          <span>Blue towel at the swimming pool</span>
        </div>
        <div style="padding-top: 20px; padding-bottom:5px; overflow: hidden; text-align: center;">

            <img src="main/assets/images/user/125.jpg" width="22px" height="22px" /><br />
            <span style="font-size: 9px;">30 flames</span>

        </div>
        <div style="text-align: center;">
          <div class="padding-left padding-right" style=" height: 30px; background-color: #ddd; overflow: hidden; border-top: 1px solid #555; text-align: center;">
            <span style="font-size: 9px;">+ leave your comment</span>
          </div>
        </div>
      </div>


      <div style="width: 48.5%; height: auto; border: 1px solid black; float: right; margin-bottom: 10px;">
        <div style="width: 100%; height: 125px; background-color: green;"></div>
        <div class="padding-left padding-right" style="padding-top: 5px; overflow: hidden;">
          <label style="font-size: 9px; float: left;">Lost and found</label>
          <label style="font-size: 9px; float: right;">157 views</label>
        </div>
        <div class="padding-left padding-right" style="padding-top: 8px; overflow: hidden;">
          <span>Blue towel at the swimming pool</span>
        </div>
        <div style="padding-top: 20px; padding-bottom:5px; overflow: hidden; text-align: center;">

            <img src="main/assets/images/user/125.jpg" width="22px" height="22px" /><br />
            <span style="font-size: 9px; color: yellow;">You flamed</span><br />
            <span style="font-size: 9px;">41 flames</span>

        </div>

        <div style="text-align: center;">
          <span style="font-size: 9px;">lots of comments</span>
          <div class="padding" style=" height: auto; width: 100%; overflow: hidden; border-top: 1px solid #555; text-align: justify; line-height: normal;">

            <div class="padding-bottom" style="overflow: hidden;">
              <label style="font-size: 9px; float: left;">Mike Moll</label>
              <label style="font-size: 9px; float: right;">2d ago</label>
            </div>

            <span style="font-size: 9px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius augue at scelerisque viverra. Vestibulum vel nibh id sapien posuere rhoncus.</span>

          </div>
          <div class="padding" style=" height: auto; width: 100%; overflow: hidden; border-top: 1px solid #555; text-align: justify; line-height: normal;">

            <div class="padding-bottom" style="overflow: hidden;">
              <label style="font-size: 9px; float: left;">Daniel Felizi</label>
              <label style="font-size: 9px; float: right;">3d ago</label>
            </div>

            <span style="font-size: 9px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            
          </div>
          <div class="padding-left padding-right" style=" height: 30px; background-color: #ddd; overflow: hidden; border-top: 1px solid #555; text-align: center;">
            <span style="font-size: 9px;">+ leave your comment</span>
          </div>
        </div>
      </div>


    </div>
    <div>

      <div style="width: 48.5%; height: auto; border: 1px solid black; float: left; margin-bottom: 10px;">
        <div style="width: 100%; height: 125px; background-color: green;"></div>
        <div class="padding-left padding-right" style="padding-top: 5px; overflow: hidden;">
          <label style="font-size: 9px; float: left;">Event</label>
          <label style="font-size: 9px; float: right;">97 views</label>
        </div>
        <div class="padding-left padding-right" style="padding-top: 8px; overflow: hidden;">
          <span>Summer soccer match against Bryan Killigan</span>
        </div>
        <div style="padding-top: 20px; padding-bottom:5px; overflow: hidden; text-align: center;">

            <img src="main/assets/images/user/125.jpg" width="22px" height="22px" /><br />
            <span style="font-size: 9px; color: yellow;">You flamed</span><br />
            <span style="font-size: 9px;">41 flames</span>

        </div>

        <div style="text-align: center;">
          <span style="font-size: 9px;">lots of comments</span>
          <div class="padding" style=" height: auto; width: 100%; overflow: hidden; border-top: 1px solid #555; text-align: justify; line-height: normal;">

            <div class="padding-bottom" style="overflow: hidden;">
              <label style="font-size: 9px; float: left;">Mike Moll</label>
              <label style="font-size: 9px; float: right;">2d ago</label>
            </div>

            <span style="font-size: 9px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius augue at scelerisque viverra. Vestibulum vel nibh id sapien posuere rhoncus.</span>

          </div>
          <div class="padding" style=" height: auto; width: 100%; overflow: hidden; border-top: 1px solid #555; text-align: justify; line-height: normal;">

            <div class="padding-bottom" style="overflow: hidden;">
              <label style="font-size: 9px; float: left;">Daniel Felizi</label>
              <label style="font-size: 9px; float: right;">3d ago</label>
            </div>

            <span style="font-size: 9px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            
          </div>
          <div class="padding-left padding-right" style=" height: 30px; background-color: #ddd; overflow: hidden; border-top: 1px solid #555; text-align: center;">
            <span style="font-size: 9px;">+ leave your comment</span>
          </div>
        </div>
      </div>


      <div style="width: 48.5%; border: 1px solid black; float: right; margin-bottom: 10px;">
        <div style="width: 100%; height: 125px; background-color: yellow;"></div>
        <div class="padding-left padding-right" style="padding-top: 5px; overflow: hidden;">
          <label style="font-size: 9px; float: left;">Event</label>
          <label style="font-size: 9px; float: right;">97 views</label>
        </div>
        <div class="padding-left padding-right" style="padding-top: 8px; overflow: hidden;">
          <span>Summer BBQ</span>
        </div>
        <div style="padding-top: 20px; padding-bottom:5px; overflow: hidden; text-align: center;">

            <img src="main/assets/images/user/125.jpg" width="22px" height="22px" /><br />
            <span style="font-size: 9px;">51 flames</span>

        </div>
        <div style="text-align: center;">
          <div class="padding-left padding-right" style=" height: 30px; background-color: #ddd; overflow: hidden; border-top: 1px solid #555; text-align: center;">
            <span style="font-size: 9px;">+ leave your comment</span>
          </div>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
